
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>Kutuphane</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

    <div class="w3-sidebar w3-bar-block w3-light-grey" style="width:15%">
        <div class="w3-container w3-dark-grey">
            <h4>KÜTÜPHANE</h4>
        </div>
        <a href="#" class="w3-bar-item w3-button w3-red"><i class="fa fa-home"></i>&nbsp; AnaSayfa</a>
        <a href="/Kategori/index/" class="w3-bar-item w3-button"><i class="fa fa-bars"></i>&nbsp;Kategoriler</a>
        <a href="/Kitap/index/" class="w3-bar-item w3-button"><i class="fa fa-book"></i>&nbsp;Kitaplar</a>
        <a href="/Yazar/index/" class="w3-bar-item w3-button"><i class="fa fa-pencil-square-o"></i>&nbsp;Yazarlar</a>
        <a href="/uye/index/" class="w3-bar-item w3-button"><i class="fa fa-address-card"></i>&nbsp;Üyeler</a>
        <a href="/Personel/index/" class="w3-bar-item w3-button"><i class="fa fa-users"></i>&nbsp;Personeller</a>
        <a href="/Odunc/Oduncver/" class="w3-bar-item w3-button"><i class="fa fa-hand-o-right"></i>&nbsp;Ödünç Kitap Ver</a>
        <a href="/Odunc/index/" class="w3-bar-item w3-button"><i class="fa fa-hand-o-left"></i>&nbsp;Ödünç Kitap Al</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-briefcase"></i>&nbsp;Kasa</a>
        <a href="/Islem/index/" class="w3-bar-item w3-button"><i class="fa fa-window-restore"></i>&nbsp;İşlemler</a>
        <a href="/Vitrin/index/" class="w3-bar-item w3-button"><i class="fa fa-wrench"></i>&nbsp;Vitrin</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-wrench"></i>&nbsp;Ayarlar</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-question-circle"></i>&nbsp;Yardım</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-external-link"></i>&nbsp;Çıkış</a>


    </div>

    <div style="margin-left:15%">


        @RenderBody()


    </div>

</body>
</html>
</html>