@model yazar
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="w3-container w3-white">
    <h2>Yazar Bilgilerini Güncelleyin</h2>
</div>
@using (Html.BeginForm("Guncelle", "Yazar", FormMethod.Post, new { @class = "w3-container" }))
{
    <p>
        <label class="thead-light"><b>Kategori Adı</b></label>
        <input class="w3-input w3-border w3-sand" name="ad" type="text" value="@Model.ad">
    </p>
    <p>
        <label class="thead-light"><b>Kategori Adı</b></label>
        <input class="w3-input w3-border w3-sand" name="soyad" type="text" value="@Model.soyad">
    </p>
    <p>
        <label class="thead-light"><b>Kategori Adı</b></label>
        <textarea class="w3-input w3-border w3-sand" style="resize:none" name="detay">@Model.detay</textarea>
    </p>
    <p>
        <a href="/Yazar/index/" class="w3-btn w3-red"><i class="fa fa-fast-backward"></i>&nbsp;Geri</a>
        <button class="w3-btn w3-indigo" type="submit"><i class="fa fa-check"></i>&nbsp;Kaydet</button>
    </p>

}

