@model List<yazar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="w3-container">
    <h2>YAZARLAR</h2>
    <a href="/Yazar/Yeni" class="w3-btn w3-teal">Yeni Yazar Ekle</a><br /><br />

            <table class="w3-table-all">
                <thead>
                    <tr class="w3-light-grey w3-hover-red">
                        <th>YAZAR ID</th>
                        <th>YAZAR ADI-SOYADI</th>
                        <th>DETAY</th>
                        <th>İŞLEMLER</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr class="w3-hover-red">
                        <td>@item.id</td>
                        <td>@(item.ad + " " + item.soyad) </td>
                        <td>@item.detay</td>
                        <td>
                            <a href="/Yazar/Guncelle/@item.id" class="w3-btn w3-white w3-border w3-light-grey w3-round-large">Güncelle</a>
                            @Html.ActionLink("Sil", "Sil", new { id = item.id }, new { @class = "w3-btn w3-white w3-border w3-border-red w3-round-large", onclick = "return confirm('Silmek İstediğinizden Emin Misiniz?')" })
                        </td>
                    </tr>
                }
            </table>
        </div>

